.card {
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  flex: 0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  border-width: 3px;
  border-style: none none solid;
  border-color: #fff;
}

.card-label {
  height: 8px;
  width: 41px;
  margin: 5px;
  padding: 0 2px;
  border-radius: 6.5px;
  white-space: nowrap;
}

.card-name {
  color: #342e46;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 20px;
  align-self: flex-start;
}

.card-label__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-ok {
  border-color: #96c54c;
}

.card-bad {
  border-color: #ff5454;
}

.card-warning {
  border-color: #fcb410;
}

.bell-class {
  color: #ff5454;
}
