.stacked-bar-graph {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bar {
  font-size: 5em;
}

.bar-1 {
  background-color: #42e2f4;
}

.bar-2 {
  background: #f4e541;
}

.bar-3 {
  background: #ffa500;
}

.bar .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin: -4em;
}

.bar:hover .tooltiptext {
  visibility: visible;
}

.bar .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent;
}

.category-container {
  width: 100%;
}

.category-text {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.category-line {
  width: max-width;
  height: 10px;
  border-width: 5px;
}

.category-line-top {
  border-style: solid solid none;
  margin-bottom: 5px;
}

.category-line-bottom {
  border-style: none solid solid;
  margin-top: 5px;
}