.dashboard__text {
  opacity: 1;
  color: #211952;
  font-family: Rubik;
  font-size: 20px;
  letter-spacing: .4px;
  line-height: 24px;
  margin: auto;
}

.dashboard__subsection-title {
  font-size: 18px;
}
