.wip-list--warning > h3 {
  color: #e20020;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.wip-list {
  flex: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
  padding: 5px;
  background-color: #f0f6fc;
  border-radius: 4px;
}

.wip-list--warning {
  background-color: #fff2f2;
}

.list-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #211952;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 22px;
}

.list-number--warning {
  color: #ff5454;
}
